* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --unit: 30px;
  --spacing: 10px;
  --main-color: #fff;
  --secondary-color: #000;
  --third-color: #222;
}
body {
  display: grid;
  place-items: center;
  color: var(--main-color);
  background-color: var(--third-color);
}
input,
button,
select {
  background-color: var(--third-color);
  color: var(--main-color);
  padding: 0.5em;
  border-radius: 0.5em;
  border: 1px solid var(--main-color);
  transition: all 0.3s ease;
}
button,
select {
  cursor: pointer;
}
button:hover,
select:hover {
  background-color: var(--main-color);
  color: var(--third-color);
  transition: all 0.3s ease;
}
.inputs {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* width: 50%; */
  gap: 1em;
}
.input {
  display: flex;
  place-items: center;
  justify-content: center;
  gap: 0.5em;
}
.point {
  width: calc(var(--unit) / 50);
  aspect-ratio: 1/1;
  display: block;
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.numbers-line {
  width: 80vw;
  aspect-ratio: 1/1;
  border: 1px solid var(--main-color);
  position: relative;
}
.numbers-line-v {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  width: calc(var(--spacing) / 15);
  height: 100%;
  background-color: var(--main-color);
  counter-reset: unset;
}
.numbers-line-h {
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  height: calc(var(--spacing) / 15);
  width: 100%;
  background-color: var(--main-color);
}
.h-point {
  translate: -50% calc((var(--spacing)));
  position: absolute;
}
.v-point {
  translate: calc((var(--spacing)) * -2) -50%;
  position: absolute;
}
.v-point::before {
  content: "";
  position: absolute;
  top: 50%;
  translate: calc((var(--spacing) * 1.55)) -50%;
  width: var(--spacing);
  aspect-ratio: 10/1;
  display: block;
  background-color: var(--main-color);
}
.h-point::before {
  content: "";
  position: absolute;
  left: 50%;
  translate: -50% calc(var(--spacing) * -1.5);
  height: var(--spacing);
  aspect-ratio: 1/10;
  display: block;
  background-color: var(--main-color);
}
.guide-lines-v {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  width: calc(var(--spacing) / 25);
  height: 100%;
  background-color: rgba(31, 110, 150, 0.5);
  z-index: -1;
}
.guide-lines-h {
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  height: calc(var(--spacing) / 25);
  width: 100%;
  background-color: rgba(31, 110, 150, 0.5);
  z-index: -1;
}
.circle {
  display: block;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  aspect-ratio: 1/1;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.cover-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: white; */
  z-index: 1;
}
